<head>
</head>
<div style="height: 20px; width:100%; background-color:#82AE46"></div>
<nav class="navbar navbar-expand-md bg-body-tertiary pt-3 pb-3" style="background-color:#fff;color: black;">
  <div class="container-xl">
    <div class="navbar-brand mt-1">
      <a class="navbar-brand" style="color: #82AE46;">ORGANICO</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-dark" aria-current="page" href="/admin/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/user-list">Users</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="/admin/product-list" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Product
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/product-list">Products list</a></li>
            <li><a class="dropdown-item" href="/admin/add-product">Add Product</a></li>

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/add-category">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/order-list">Orders</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Coupon
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/coupon-list">Coupon list</a></li>
            <li><a class="dropdown-item" href="/admin/coupon">Add Coupon</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/banner">Banner</a>
        </li>
        <li class="nav-item">
        <li class="nav-item text-dark"><a class="nav-link text-dark" href=""><i class="fa-solid fa-user"></i>
            {{admin.email}}</a></li>
        </li>
        <li class="nav-item">
        <li class="nav-item"><a href="/admin/logout" class="nav-link"
            style="text-decoration: none;color: black;">Logout<i class="fa-solid fa-right-from-bracket ms-2"></i></a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>


<style>
  a {
    color: black;
  }

  nav {
    box-shadow: 0 2px 4px 0 rgba(70, 70, 70, 0.2);
  }
</style>