
<section class="vh-100 bg-image" style="background-color: white;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4 ">
              <h2 class="text-uppercase text-center mb-5">CHANGE PASSWORD</h2>

              <form onsubmit="return verifyPassword()" action="/change-password/{{userId}}" method="post"  name="pwform">


                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example3cg">Password</label>
                  <input type="password" name="password" id="form3Example3cg" class="form-control form-control-lg" style="border-style:solid ; border-color:#82AE46" required/>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example4cdg">New Password</label>
                  <input type="password" name="newPassword" id="form3Example4cdg" class="form-control form-control-lg" style="border-style:solid ; border-color:#82AE46" required/> 
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example5cdg">Confirm New Password</label>
                  <input type="password" name="confirmNewPassword" id="form3Example5cdg" class="form-control form-control-lg" style="border-style:solid ; border-color:#82AE46" required/> 
                </div>
                <p id="errMsg" class="text-danger">{{errMsg}}</p>
                <div class="d-flex justify-content-center">
                
            <button type="submit" class="btn btn-dark btn-lg mb-1 mt-4" style="border-radius: 70px; height:40px; font-size:15px; background:#82AE46; border:none">Submit</button>
                </div>
                

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
